// ===== General Styles =====
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

// ===== Header =====
.top-line {
    height: 7px;
    background-color: #1f1f1f;
    width: 100%;
}
.header {
    &--flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    &__list {
        display: flex;
        list-style-type: none;
        font-size: 14px;
        &-item {
            margin-left: 10px;
            color: #595959;
            font-weight: bold;
            &--red {
                color: #cd716d;
            }
        }
    }
}

// ===== Menu =====
.nav-menu {
    background-image: linear-gradient(to top, #a21b11, #c24c3b);
    height: 35px;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
       color: #fff; 
       list-style-type: none;
       font-family: Helvetica;
       font-size: 16px;
       display: flex;

       &--active{
        background-color: #000;
        align-self: stretch;
        }
        &:not(:last-child){
            margin-right: 20px;
        }

       &:last-child{
           margin-left: auto;

       }
    }
}
// ===== Banner + Login =====

// ===== About =====
.about {
    padding: 20px 0 30px 0;
    &--flex {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 22px;
        font-weight: bold;
        &--red {
            color: #cd716d;
        }
    }
}

// Specialties block
.specialties {
    &__list {
        &-item {
            list-style-type: none;
            color: #595959;
        }
    }
    &__check-icon {
        margin-right: 15px;
        color: #cd716d;
    }
    
}

// How it work block 
.work {
    &__title {
        justify-self: flex-start;
        text-align: left;
        float: left;
    }
}

// ===== Footer =====