// ===== General Styles =====
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
}

// ===== Header =====

// ===== Menu =====

// ===== Banner + Login =====

// ===== About =====

// ===== Footer =====